# .zprofile is used for login shells
# Basically, it’s identical to .zlogin, which we’ll cover later
# However, .zlogin is sourced after .zshrc

# Current User
export PATH="$HOME/.local/bin:$PATH"

# OpenCode
export PATH="$HOME/.opencode/bin:$PATH"

# Alias
alias tmux="tmux -f $HOME/.config/tmux/.tmux.conf"